.fullpage{
    background-image: url('./background.svg');
    background-size: cover;
    color: #fff;
    padding: 20px;
    height: 100%;
}

.fullpage .jumbotron{
    background-color: transparent;
}